header {
    background-color: rgb(128, 35, 73);
    text-align: left;
}

nav {
    display: flex;
    background-color: rgb(56, 15, 32);
    flex-direction: row;
    justify-content: space-around;
}

nav a {
    padding: 14px 20px;
    text-decoration: none;
    color: white;
}

footer {
    display: flex;
    background-color: rgb(128, 35, 73);
    flex-direction: row;
    justify-content: space-around;
}

body {
    background-color: pink;
}

#footText {
    text-align: center;
    color: white;
}

.conteiner {
    width: 60%;
    margin: 0;
    text-align: left;
}

.titulo_ppal {
    /*html todos --> recetario de alicia*/
    text-align: center;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 250%;
}

.ref_nav:hover {
    /*html todos en la barra de navevacion*/
    color: pink;
}

.formulario__label {
    font-weight: bold;
}

@media screen and (max-width: 520px) {
    nav,
    .flex-container {
        flex-direction: column;
    }
    .receta_conteiner {
        width: 100%;
    }
}