.formulario {
    display: grid;
    width: 30%;
    gap: 20px;
}

.formulario__label {
    display: block;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    border: 3px solid transparent;
    background-color: white;
    border-radius: 5px;
    height: 20px;
    line-height: 20px;
    padding: 0px 15px 0px 10px;
}

.formulario__input:focus {
    border: 3px solid #809A6F;
}

.formulario__input-error {
    font-size: 15px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__input-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 6.5px;
    z-index: 100;
    font-size: 16px;
    display: flex;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__mensaje {
    width: 100%;
    height: 45px;
    line-height: 45px;
    background: #632626;
    padding: 0px 15px;
    border-radius: 5px;
    display: none;
    color: white;
    text-align: center;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__btn {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.formulario__mensaje-exito {
    width: 108%;
    font-size: 20px;
    display: none;
    border-radius: 5px;
    text-align: center;
    background: #809A6F;
    color: white;
}

.formulario__mensaje-exito-activo {
    display: block;
}

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #809A6F;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #632626;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #632626;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #632626;
}